  <div class="class='primary'">
    <div collapse="isCollapsed" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active: $state.is('about')}"><a ui-sref="about">&Uuml;ber uns</a></li>
        <li ng-class="{active: $state.is('team')}"><a ui-sref="blog">Team</a></li>
        <li ng-class="{active: $state.is('emphases')}"><a ui-sref="emphases">Schwerpunkte</a></li>
        <li ng-class="{active: $state.is('fotos')}"><a ui-sref="fotos">Fotos</a></li>
        <li ng-class="{active: $state.is('open')}"><a ui-sref="open">&Ooml;ffnungszeiten</a></li>
        <li ng-class="{active: $state.is('way')}"><a ui-sref="way">Weg zu uns</a></li>
        <li ng-class="{active: $state.is('contact')}"><a ui-sref="contact">Kontakt</a></li>
      </ul>
    </div>
  </div>
